<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container-fluid">  
    <div class="row">
      <div class="col-md-12">  

      	<!-- START OVERVIEW -->
      	<div class="row widget-row">
           <div class="col-md-3">
               <!-- BEGIN WIDGET THUMB -->
               <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 "> 
                  <div class="widget-title">
                  	<h4 class="widget-thumb-heading">Registration</h4> 
                  </div>
                  <div class="widget-body">

	                  <div class="widget-thumb-wrap">
	                      <i class="widget-thumb-icon bg-green fa fa-android"></i>
	                      <div class="widget-thumb-body">
	                           <span class="widget-thumb-subtitle">Android</span>
	                           <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{ vm.platform.android }}">  
	                          		<span class="count" count-to="{{vm.platform.android}}" value="0" duration="2" filter="number"></span>
	                          	</span>
	                      </div>
	                  </div> 

	                  <div class="margin-bottom-20"></div> 
	                  <div class="widget-thumb-wrap">
	                      <i class="widget-thumb-icon bg-red fa fa-apple"></i>
	                      <div class="widget-thumb-body">
	                          	<span class="widget-thumb-subtitle">IOS</span>
	                          	<span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{ vm.platform.ios }}"> 
	                          		<span class="count" count-to="{{vm.platform.ios}}" value="0" duration="2" filter="number"></span> 
                          		<span>
	                      </div>
	                  </div>

	                  <div class="margin-bottom-20"></div> 
	                  <div class="widget-thumb-wrap">
	                      <i class="widget-thumb-icon bg-purple fa fa-globe"></i>
	                      <div class="widget-thumb-body">
	                          	<span class="widget-thumb-subtitle">Web</span>
	                          	<span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{ vm.platform.web }}">
	                          		<span class="count" count-to="{{vm.platform.web}}" value="0" duration="2" filter="number"></span>  
	                          	</span>
	                      </div>
	                  </div>

                  </div>
               </div>

               <!-- END WIDGET THUMB -->
           </div>
           <div class="col-md-6">
               <!-- BEGIN WIDGET THUMB -->
               <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">
                  <div class="widget-title">
                  	<h4 class="widget-thumb-heading">Age Group</h4> 
                  </div>
                  <div class="widget-body">
                  	<div id="ageChart"></div>
                  </div>
               </div>
               <!-- END WIDGET THUMB -->
           </div>
           <div class="col-md-3">
               <!-- BEGIN WIDGET THUMB -->
               <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">

                  <div class="widget-title">
                  	<h4 class="widget-thumb-heading">Gender Group</h4>
                  </div> 

                  <div class="widget-body"> 
                  	<div class="widget-thumb-wrap">
	                       <i class="widget-thumb-icon bg-purple fa fa-male"></i>
	                       <div class="widget-thumb-body">
	                           <span class="widget-thumb-subtitle">Male</span>
	                           <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{vm.gendercount.male}}">
	                          		<span class="count" count-to="{{vm.gendercount.male}}" value="0" duration="2" filter="number"></span>   
	                           </span>
	                       </div>
	                  </div>
	                  <div class="margin-bottom-20"></div>
	                  <div class="widget-thumb-wrap">
	                      <i class="widget-thumb-icon bg-red fa fa-female"></i>
	                      <div class="widget-thumb-body">
	                           <span class="widget-thumb-subtitle">Female</span>
	                           <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{vm.gendercount.female}}">
	                          		<span class="count" count-to="{{vm.gendercount.female}}" value="0" duration="2" filter="number"></span>  
	                          	</span>
	                      </div>
	                  </div>
	                  <div class="margin-bottom-20"></div>
	                  <div class="widget-thumb-wrap">
	                      <i class="widget-thumb-icon bg-green fa fa-users"></i>
	                      <div class="widget-thumb-body">
	                           <span class="widget-thumb-subtitle">Total</span>
	                           <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{vm.gendercount.male + vm.gendercount.female}}">
	                          		<span class="count" count-to="{{vm.gendercount.male + vm.gendercount.female}}" value="0" duration="2" filter="number"></span>
	                          	</span>
	                      </div>
	                  </div>
                  </div>
                  


               </div>
               <!-- END WIDGET THUMB -->
           </div> 
       	</div>

      	<!-- START PORTLET -->
      	<div class="portlet light">

            <div class="portlet-title">
               <div class="caption">
                   <i class="icon-bar-chart font-dark hide"></i>
                   <span class="caption-subject font-dark bold uppercase">Demographics</span>
                   <span class="caption-helper">special reports...</span>
               </div>
               <div class="actions">
                   <div class="btn-group btn-group-devided" data-toggle="buttons">  
								<a ng-click="vm.GetCustomerDetails()" class="btn btn-lg primary-theme"> <i class="fa fa-search"></i> Search </a>
								<a ng-click="vm.ExportCustomer()" ng-disabled="vm.exportingprogress" class="btn btn-lg primary-theme"> <i class="fa fa-cloud-download"></i> Export </a> 
                   </div>
               </div>
            </div>
            <div class="portlet-body">  

					<div class="row"> 
						<div class="col-md-12">  
						
							<div id="reportrange" class="pull-left calendar-style " >
							   <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
							   <span>Select Date</span> <b class="caret"></b>
							</div>  

							<div class="col-md-2"> 
								<div class="form-group"> 
									<div class="input-group">
										<span class="input-group-addon">
										<i class="fa fa-envelope"></i>
										</span>
										<input type="text" class="form-control" placeholder="Email Address" ng-model="vm.email">
									</div>
								</div>
							</div>  

							<div class="pull-left margin-right-10">  
								<div class="btn-group">
									<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
									{{ vm.gender.title }} <i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li> <a ng-click="vm.SelectGender('None')"> None </a> </li>
										<li> <a ng-click="vm.SelectGender('Male')"> Male </a> </li>
										<li> <a ng-click="vm.SelectGender('Female')"> Female </a> </li>  
									</ul>
								</div> 	
							</div>  

							<div class="pull-left margin-right-10"> 
								<div class="btn-group">
									<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
									{{ vm.bday.title }} <i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li> <a ng-click="vm.SelectBirthday()"> None </a> </li>
										<li> <a ng-click="vm.SelectBirthday(1)"> January </a> </li>  
										<li> <a ng-click="vm.SelectBirthday(2)"> February </a> </li>  
										<li> <a ng-click="vm.SelectBirthday(3)"> March </a> </li>  
										<li> <a ng-click="vm.SelectBirthday(4)"> April </a> </li>  
										<li> <a ng-click="vm.SelectBirthday(5)"> May </a> </li>  
										<li> <a ng-click="vm.SelectBirthday(6)"> June </a> </li>  
										<li> <a ng-click="vm.SelectBirthday(7)"> July </a> </li>  
										<li> <a ng-click="vm.SelectBirthday(8)"> August </a> </li>  
										<li> <a ng-click="vm.SelectBirthday(9)"> September </a> </li>  
										<li> <a ng-click="vm.SelectBirthday(10)"> October </a> </li>  
										<li> <a ng-click="vm.SelectBirthday(11)"> November </a> </li>  
										<li> <a ng-click="vm.SelectBirthday(12)"> December </a> </li>  
									</ul>
								</div> 				
							</div> 

							<div class="pull-left margin-right-10"> 
								<div class="btn-group">
									<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
									{{ vm.agerange.title }} <i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li> <a ng-click="vm.SelectAgeRange(0)"> None </a> </li>
										<li> <a ng-click="vm.SelectAgeRange(1)"> 18 to 25 </a> </li>  
										<li> <a ng-click="vm.SelectAgeRange(2)"> 26 to 35 </a> </li>  
										<li> <a ng-click="vm.SelectAgeRange(3)"> 36 to 45 </a> </li>  
										<li> <a ng-click="vm.SelectAgeRange(4)"> 46 to 59 </a> </li>   
									</ul>
								</div> 				
							</div> 


						</div>   

						<div class="col-md-12">   

							<div class="record-label"> 
							Total Records: <span class="label label-primary-theme">
								{{vm.totalrecord | number}} </span>
							</div>

               		<div class="table-responsive">
								<table ng-table="vm.tableParams" class="table" show-filter="false">
									<tr ng-repeat="item in $data" class="even">
							        	  <td title="'Email'" filter="{ email: 'text'}" sortable="'email'" header-class="'bg-table-header-primary'"> 
												<img ng-if="item.image != ''" src="{{ item.image }}" width="20%" class="imgcircle" onError="this.src='assets/img/logo.png';">
												<img ng-if="item.image == ''" src="assets/img/logo.png" width="20%" class="imgcircle">  
								        	{{item.email}}
								        </td>
								        <td title="'Name'" filter="{ lname: 'text'}" sortable="'lname'" header-class="'bg-table-header-primary'" style="text-align:center;">
								        		<div ng-if="item.lname == '' &&  item.fname == ''  &&  item.mname == '' "></div>
								        		<div ng-if="item.lname != '' ||  item.fname != ''  ||  item.mname != '' ">
								        			{{ item.name }}
								        		</div> 
								        </td>
								        <td title="'Birthday'" filter="{ dateOfBirth: 'text'}" sortable="'dateOfBirth'" header-class="'bg-table-header-primary'" style="text-align:center;">
								        		<span ng-if="item.dateofbirth != '0000-00-00' ">{{item.dateofbirth  | date : 'longDate' }}</span>
								        		<span ng-if="item.dateofbirth == '0000-00-00' "> </span>
								        </td> 
								        <td title="'Gender'" filter="{ gender: 'text'}" sortable="'gender'" header-class="'bg-table-header-primary'" style="text-align:center;">
								        	{{item.gender }}
								        </td>  
								        <td title="'Mobile No.'" filter="{ mobileNum: 'text'}" sortable="'mobileNum'" header-class="'bg-table-header-primary'" style="text-align:center;">
								        	{{item.mobileNum }}
								        </td>   
								        <td title="'Points'" filter="{ totalPoints: 'text'}" sortable="'totalPoints'" header-class="'bg-table-header-primary'" style="text-align:center;">
								        	{{item.totalPoints  | number}}
								        </td>   
								        <td title="'Card No.'" filter="{ qrCard: 'text'}" sortable="'qrCard'" header-class="'bg-table-header-primary'" style="text-align:center;">
								        	{{item.qrCard }}
								        </td>   
								        <td title="'Card Expiration'" filter="{ expiration: 'text'}" sortable="'expiration'" header-class="'bg-table-header-primary'" style="text-align:center;">
								        	{{item.expiration | date : 'longDate' }}
								        </td>     
								        <td title="'Action'"  header-class="'bg-table-header-primary'" style="text-align:center;"> 
								        		<md-button class="md-fab md-mini primary-theme" aria-label="Use Android" ng-click="vm.ViewTransactions($event, item)"> 
											     	<i class="fa fa-bars"></i>
											   </md-button>    
								        </td>
								   </tr>  
								</table>    
							</div>

				      	<div layout="row" layout-sm="column" layout-align="space-around" ng-hide="vm.doneloading_transactions">
				            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
				         </div>  
				         
                     <div class="table-footer-space"></div>
						</div> 
					</div>  
                
           </div>
       	</div>
       	<!-- END PORTLET --> 

      </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
  </div>
</div>
<!-- END PAGE CONTENT