<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container-fluid">  
    <div class="row">
      <div class="col-md-12">  

      	<!-- START OVERVIEW -->
      	<div class="row widget-row">
           <div class="col-md-6">
               <!-- BEGIN WIDGET THUMB -->
               <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">
                  <h4 class="widget-thumb-heading">Total Downloads for <span class="font-red-sunglo">{{vm.yeartoday}}</span>  </h4> 
                  <div id="yearlyChart" class="chart"></div>
               </div>
               <!-- END WIDGET THUMB -->
           </div>
           <div class="col-md-6">
               <!-- BEGIN WIDGET THUMB -->
               <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">
                  <h4 class="widget-thumb-heading">Total Downloads for <span class="font-red-sunglo">{{vm.monthtoday}}</span> </h4> 
                  <div id="monthlyChart" class="chart"></div>
               </div>
               <!-- END WIDGET THUMB -->
           </div>  
       	</div> 


      </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
  </div>
</div>
<!-- END PAGE CONTENT -->
