<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container-fluid">  
    <div class="row">
      <div class="col-md-12">  

      	<!-- START OVERVIEW -->
      	<div class="row widget-row">
           <div class="col-md-12">
               <!-- BEGIN WIDGET THUMB -->
               <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">

                  <div class="widget-title"> 
                     <h4 class="widget-thumb-heading">Total Points Earned vs. Redeemed</h4>   
                  </div> 

                  <div class="widget-body">
                    
                     <div class="row"> 
                        <div id="noDatadiv" class="hide-element">No Data Yet</div>
                        <div id="redemptionChart" class="chart"></div>
                     </div>
                  </div>


               </div>
               <!-- END WIDGET THUMB -->
           </div> 
       	</div> 
         <!-- END OVERVIEW -->


         <!-- START PORTLET -->
         <div class="portlet light">

            <div class="portlet-title">
               <div class="caption">
                   <i class="icon-bar-chart font-dark hide"></i>
                   <span class="caption-subject font-dark bold uppercase">Branch Redemption</span> 
               </div>
               <div class="actions">
                  <div class="btn-group btn-group-devided" data-toggle="buttons">  
                  <a ng-click="vm.GetBranchRedemption()" class="btn btn-lg primary-theme"> <i class="fa fa-search"></i> Search </a>
                  <a ng-click="vm.ExportBranchRedemption()" ng-disabled="vm.exportingprogress" class="btn btn-lg primary-theme"> <i class="fa fa-cloud-download"></i> Export </a> 
                  </div>
               </div>
            </div>
            <div class="portlet-body">  

               <div class="row"> 
                  <div class="col-md-12">  
                  
                     <div id="branchredemptionrange" class="pull-left calendar-style " >
                       <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                       <span>Select Date</span> <b class="caret"></b>
                     </div>   

                  </div>   

                  <div class="col-md-12">  

                     <div class="record-label"> 
                     Total Records: <span class="label label-primary-theme">
                        {{vm.totalrecord.branch | number}} </span>
                     </div>
       
                     <div class="table-responsive">
                        <table ng-table="vm.tableParams_branch" class="table" show-filter="false">
                           <tr ng-repeat="item in $data" class="even">
                             <td title="'Restaurant'" filter="{ brandname: 'text'}" sortable="'brandname'" header-class="'bg-table-header-white-red'"> 
                                 {{ item.brandname }}
                             </td>
                             <td title="'Branch'" filter="{ branch: 'text'}" sortable="'branch'" header-class="'bg-table-header-white-red'" style="text-align:center;">
                                <md-button class="md-fab primary-theme-pills table-pills" aria-label="Use Android" ng-click="vm.ViewTransactions($event, item)"> 
                                          {{ item.branch }}
                                       </md-button>     
                             </td>  
                             <td title="'No. of Transactions'" filter="{ totalMember: 'number'}" sortable="'totalMember'" header-class="'bg-table-header-white-red'" style="text-align:center;">
                                 <span  class="bold theme-font"> ₱ {{ item.totalMember | number }} </span>
                             </td> 
                             <td title="'Total Earned Points'" filter="{ earnedpoints: 'number'}" sortable="'earnedpoints'" header-class="'bg-table-header-white-red'" style="text-align:center;">
                                 <span > {{ item.earnedpoints | number}} </span>
                             </td> 
                             <td title="'Total Redeemed Points'" filter="{ redeemedpoints: 'number'}" sortable="'redeemedpoints'" header-class="'bg-table-header-white-red'" style="text-align:center;">
                                 <span class="bold theme-font"> {{ item.redeemedpoints | number}} </span>
                             </td>   
                           </tr>  
                        </table>  
                     </div> 

                      <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="vm.preloader.branch">
                          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                       </div>  
                  </div> 
               </div>  
                
           </div>

         </div>
        <!-- END PORTLET --> 


         <!-- START PORTLET -->
         <div class="portlet light">

            <div class="portlet-title">
               <div class="caption">
                   <i class="icon-bar-chart font-dark hide"></i>
                   <span class="caption-subject font-dark bold uppercase">Customer Redemption</span> 
               </div>
               <div class="actions">
                  <div class="btn-group btn-group-devided" data-toggle="buttons">  
                     <a ng-click="vm.GetCustomerRedemption()" class="btn btn-lg primary-theme"> <i class="fa fa-search"></i> Search </a>
                     <a ng-click="vm.ExportCustomerRedemption()" ng-disabled="vm.exportingprogress" class="btn btn-lg primary-theme"> <i class="fa fa-cloud-download"></i> Export </a> 
                  </div>
               </div>
            </div>
            <div class="portlet-body">  

               <div class="row"> 
                  <div class="col-md-12">  
                  
                     <div id="voucherredemptionrange" class="pull-left calendar-style " >
                       <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                       <span>Select Date</span> <b class="caret"></b>
                     </div>      

                  </div>   

                  <div class="col-md-12">  

                     <div class="record-label"> 
                     Total Records: <span class="label label-primary-theme">
                        {{vm.totalrecord.customer | number}} </span>
                     </div>
       
                     <div class="table-responsive">
                        <table ng-table="vm.tableParams_customer" class="table" show-filter="false">
                           <tr ng-repeat="item in $data" class="even">
                             <td title="'Card No.'" filter="{ qrcard: 'text'}" sortable="'qrcard'" header-class="'bg-table-header-white-red'"> 
                                 {{ item.qrcard }}
                             </td>
                             <td title="'Email'" filter="{ email: 'text'}" sortable="'email'" header-class="'bg-table-header-white-red'" style="text-align:center;">
                                 {{ item.email }}
                             </td>  
                             <td title="'Restaurant'" filter="{ brandname: 'text'}" sortable="'brandname'" header-class="'bg-table-header-white-red'" style="text-align:center;"> 
                                 {{ item.brandname }}                                  
                             </td>   
                             <td title="'Branch'" filter="{ locname: 'text'}" sortable="'locname'" header-class="'bg-table-header-white-red'" style="text-align:center;">
                                 <span > {{ item.locname }} </span>
                             </td> 
                             <td title="'Total Redeemed Points'" filter="{ points: 'number'}" sortable="'points'" header-class="'bg-table-header-white-red'" style="text-align:center;">
                                 <span class="bold theme-font"> {{ item.points | number}} </span>
                             </td>  
                             <td title="'Transaction Date'" filter="{ dateadded: 'text'}" sortable="'dateadded'" header-class="'bg-table-header-white-red'" style="text-align:center;">
                                 <span> {{ item.dateadded }} </span>
                             </td>  
                           </tr>  
                        </table>  
                     </div>  

                      <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="vm.preloader.customer">
                          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                       </div>  
                     <div class="table-footer-space"></div>
                  </div> 
               </div>  
                
           </div>
           
         </div>
        <!-- END PORTLET --> 


      </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
  </div>
</div>
<!-- END PAGE CONTENT -->
