<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container-fluid">  
    <div class="row">
      <div class="col-md-12">  

      	<!-- START OVERVIEW -->
      	<div class="row widget-row">
           <div class="col-md-12">
               <!-- BEGIN WIDGET THUMB -->
               <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">

                  <div class="widget-title">

                     <h4 class="widget-thumb-heading">Card Registration Overview</h4> 
                     <div class="widget-tools"> 
                       <div class="btn-group btn-group-devided pull-right" data-toggle="buttons">
                         <label class="btn btn-transparent grey-salsa btn-circle btn-sm active" ng-click="GetDaily()">
                         <input type="radio" name="options" class="toggle">Daily</label>
                         <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-click="GetWeekly()">
                         <input type="radio" name="options" class="toggle">Weekly</label>
                         <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-click="GetMonthly()">
                         <input type="radio" name="options" class="toggle">Monthly</label>
                         <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-click="GetQuarterly()">
                         <input type="radio" name="options" class="toggle">Quarterly</label>
                         <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-click="GetYearly()">
                         <input type="radio" name="options" class="toggle">Yearly</label>
                       </div>  
                     </div>

                  </div>
                  

                  <div class="widget-body">
                    
                     <div class="row">

                         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="dashboard-stat red-pomegranate">
                            <div class="visual">
                              <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="details">
                              <div class="number">
                                {{ (spent.activatedCard == '' ) ? 0 : spent.activatedCard }}
                              </div>
                              <div class="desc">
                                 Activated Card
                              </div>
                            </div>
                            <a class="more" href="javascript:;"> 
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="dashboard-stat red-pomegranate">
                            <div class="visual">
                              <i class="fa fa-dollar"></i>
                            </div>
                            <div class="details">
                              <div class="number"> 
                                ₱ {{ (spent.cardSales == '' ) ? 0 : spent.cardSales }}
                              </div>
                              <div class="desc">
                                Card Sales
                              </div>
                            </div>
                            <a class="more" href="javascript:;">
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="dashboard-stat red-pomegranate">
                            <div class="visual">
                              <i class="fa fa-credit-card"></i>
                            </div>
                            <div class="details">
                              <div class="number"> 
                                 {{ (spent.unactivatedCard == '' ) ? 0 : spent.unactivatedCard }}
                              </div>
                              <div class="desc">
                                Not Activated Card
                              </div>
                            </div>
                            <a class="more" href="javascript:;">
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="dashboard-stat red-pomegranate">
                            <div class="visual">
                              <i class="fa fa-calendar"></i>
                            </div>
                            <div class="details">
                              <div class="number"> 
                                {{ (spent.expiredCard == '' ) ? 0 : spent.expiredCard }}
                              </div>
                              <div class="desc">
                                Expired Card
                              </div>
                            </div>
                            <a class="more" href="javascript:;">
                            </a>
                          </div>
                        </div>
                       
                     </div>
                  </div>


               </div>
               <!-- END WIDGET THUMB -->
           </div> 
       	</div> 


      </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
  </div>
</div>
<!-- END PAGE CONTENT -->
