<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container-fluid">  
    <div class="row">
      <div class="col-md-12">  

        <!-- START OVERVIEW -->
        <div class="row widget-row">
           <div class="col-md-12">
               <!-- BEGIN WIDGET THUMB -->
               <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">

                  <div class="widget-title">

                     <h4 class="widget-thumb-heading">Card Registration Overview</h4> 
                     <div class="widget-tools"> 
                       <div class="btn-group btn-group-devided pull-right" data-toggle="buttons">
                         <label class="btn btn-transparent grey-salsa btn-circle btn-sm active" ng-click="vm.GetOverview('daily')">
                         <input type="radio" name="options" class="toggle">Daily</label>
                         <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-click="vm.GetOverview('weekly')">
                         <input type="radio" name="options" class="toggle">Weekly</label>
                         <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-click="vm.GetOverview('monthly')">
                         <input type="radio" name="options" class="toggle">Monthly</label>
                         <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-click="vm.GetOverview('quarterly')">
                         <input type="radio" name="options" class="toggle">Quarterly</label>
                         <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-click="vm.GetOverview('yearly')">
                         <input type="radio" name="options" class="toggle">Yearly</label>
                       </div>  
                     </div>

                  </div> 

                  <div class="widget-body">
                    
                     <div class="row">

                         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="dashboard-stat primary-theme">
                            <div class="visual">
                              <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="details">
                              <div class="number">
                                 <span ng-if="vm.spent.activatedCard != ''" class="count" count-to="{{vm.spent.activatedCard}}" value="0" duration="2" filter="number"></span> 
                                 <span ng-if="vm.spent.activatedCard == ''" class="count" count-to="=" value="0" duration="2" filter="number"></span> 
                              </div>
                              <div class="desc">
                                 Activated Card
                              </div>
                            </div>
                            <a class="more" href="javascript:;"> 
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="dashboard-stat primary-theme">
                            <div class="visual">
                              <i class="fa fa-dollar"></i>
                            </div>
                            <div class="details">
                              <div class="number"> 
                                 <span ng-if="vm.spent.cardSales != ''" class="count" count-to="{{vm.spent.cardSales}}" value="0" duration="2" filter="currency" params="₱"></span>   
                                 <span ng-if="vm.spent.cardSales == ''" class="count" count-to="0" value="0" duration="2" filter="currency" params="₱"></span> 
                              </div>
                              <div class="desc">
                                Card Sales
                              </div>
                            </div>
                            <a class="more" href="javascript:;">
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="dashboard-stat primary-theme">
                            <div class="visual">
                              <i class="fa fa-credit-card"></i>
                            </div>
                            <div class="details">
                              <div class="number"> 
                                 <span ng-if="vm.spent.unactivatedCard != ''" class="count" count-to="{{vm.spent.unactivatedCard}}" value="0" duration="2" filter="number"></span>  
                                 <span ng-if="vm.spent.unactivatedCard == ''" class="count" count-to="0" value="0" duration="2" filter="number"></span> 
                              </div>
                              <div class="desc">
                                Not Activated Card
                              </div>
                            </div>
                            <a class="more" href="javascript:;">
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="dashboard-stat primary-theme">
                            <div class="visual">
                              <i class="fa fa-calendar"></i>
                            </div>
                            <div class="details">
                              <div class="number"> 
                                 <span ng-if="vm.spent.expiredCard != ''" class="count" count-to="{{vm.spent.expiredCard}}" value="0" duration="2" filter="number"></span>   
                                 <span ng-if="vm.spent.expiredCard == ''" class="count" count-to="0" value="0" duration="2" filter="number"></span>   
                              </div>
                              <div class="desc">
                                Expired Card
                              </div>
                            </div>
                            <a class="more" href="javascript:;">
                            </a>
                          </div>
                        </div>
                       
                     </div>
                  </div>


               </div>
               <!-- END WIDGET THUMB -->
           </div> 
        </div> 
         <!-- END OVERVIEW -->


         <!-- START PORTLET -->
         <div class="portlet light">

            <div class="portlet-title">
               <div class="caption">
                   <i class="icon-bar-chart font-dark hide"></i>
                   <span class="caption-subject font-dark bold uppercase">Card Registration Summary</span> 
               </div>
               <div class="actions">
                  <div class="btn-group btn-group-devided" data-toggle="buttons">  
                  <a ng-click="vm.GetRegistrationSummary()" class="btn btn-lg primary-theme"> <i class="fa fa-search"></i> Search </a>
                  <a ng-click="vm.ExportRegistrationSummary($event)" ng-disabled="vm.exportingprogress" class="btn btn-lg primary-theme"> <i class="fa fa-cloud-download"></i> Export </a> 
                  </div>
               </div>
            </div>
            <div class="portlet-body">  

               <div class="row"> 
                  <div class="col-md-12">  
                  
                     <div id="summarydate" class="pull-left calendar-style " >
                       <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                       <span>Select Date</span> <b class="caret"></b>
                     </div>   

                  </div>   

                  <div class="col-md-12">  

                     <div class="record-label"> 
                     Total Records: <span class="label label-primary-theme">
                        {{vm.totalrecord.summary | number}} </span>
                     </div>
       
                     <div class="table-responsive">
                        <table ng-table="vm.tableParams" class="table" show-filter="false">
                           <tr ng-repeat="item in $data" class="even">
                             <td title="'Restaurant'" filter="{ name: 'text'}" sortable="'name'" header-class="'bg-table-header-primary'"> 
                                {{ item.name }}
                             </td>
                             <td title="'Branch'" filter="{ branch: 'text'}" sortable="'branch'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 {{ item.branch }}
                             </td>  
                             <td title="'Total Activated'" filter="{ registered: 'number'}" sortable="'registered'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span> {{ item.registered | number }} </span>
                             </td> 
                             <td title="'Total Not Activated'" filter="{ notactivated: 'number'}" sortable="'notactivated'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span > {{ item.notactivated | number}} </span>
                             </td> 
                             <td title="'Total Sales'" filter="{ cardsales: 'number'}" sortable="'cardsales'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span class="bold theme-font"> ₱ {{ item.cardsales | number}} </span>
                             </td>   
                           </tr>  
                        </table>  
                     </div>  

                      <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="vm.preloader.summary">
                          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                       </div>  
                  </div> 
               </div>  
                
           </div>

         </div>
        <!-- END PORTLET --> 


         <!-- START PORTLET -->
         <div class="portlet light">

            <div class="portlet-title">
               <div class="caption">
                   <i class="icon-bar-chart font-dark hide"></i>
                   <span class="caption-subject font-dark bold uppercase">Card Registration History</span> 
               </div>
               <div class="actions">
                  <div class="btn-group btn-group-devided" data-toggle="buttons">  
                  <a ng-click="vm.GetRegistrationHistory()" class="btn btn-lg primary-theme"> <i class="fa fa-search"></i> Search </a>
                  <a ng-click="vm.ExportRegistrationHistory($event)" ng-disabled="vm.exportingprogress" class="btn btn-lg primary-theme"> <i class="fa fa-cloud-download"></i> Export </a> 
                  </div>
               </div>
            </div>
            <div class="portlet-body">  

               <div class="row"> 
                  <div class="col-md-12">  
                  
                     <div id="historydate" class="pull-left calendar-style " >
                       <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                       <span>Select Date</span> <b class="caret"></b>
                     </div>    

                     <div class="btn-group btn-group-devided  pull-right" data-toggle="buttons">
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm active" ng-click="vm.GetHistoryStatus('active')">
                        <input type="radio" name="historystatus" class="toggle" value="active">Active</label>
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-click="vm.GetHistoryStatus('inactive')">
                        <input type="radio" name="historystatus" class="toggle" value="inactive">Inactive</label>
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-click="vm.GetHistoryStatus('expired')">
                        <input type="radio" name="historystatus" class="toggle" value="expired">Expired</label> 
                     </div> 

                  </div>   

                  <div class="col-md-12">  

                     <div class="record-label"> 
                     Total Records: <span class="label label-primary-theme">
                        {{vm.totalrecord.history | number}} </span>
                     </div>
       
                     <div class="table-responsive">
                        <table ng-table="vm.tableParams_history" class="table-scrollable" show-filter="false">
                           <tr ng-repeat="item in $data" class="even">
                              <td title="'Customer'" filter="{ email: 'text'}" sortable="'email'" header-class="'bg-table-header-primary'"> 
                                 <img ng-if="item.image != ''" src="{{ item.image }}" width="20%" class="imgcircle" onError="this.src='assets/img/logo.png';">
                                 <img ng-if="item.image == ''" src="assets/img/logo.png" width="20%" class="imgcircle"> 
                                 {{ item.email }}
                              </td> 
                              <td title="'Card No.'" filter="{ qrcard: 'text'}" sortable="'qrcard'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 {{ item.qrcard }}
                              </td>  
                              <td title="'Birthday'" filter="{ dateofbirth: 'text'}" sortable="'dateofbirth'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span > {{ item.dateofbirth }} </span>
                              </td> 
                              <td title="'Gender'" filter="{ gender: 'text'}" sortable="'gender'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span > {{ item.gender }} </span>
                              </td> 
                              <td title="'Date Registered'" filter="{ datereg: 'text'}" sortable="'datereg'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span > {{ item.datereg }} </span>
                              </td> 
                              <td title="'Expiration'" filter="{ expiration: 'text'}" sortable="'expiration'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span > {{ item.expiration }} </span>
                              </td>  
                              <td title="'Server Name'" filter="{ servername: 'text'}" sortable="'servername'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span > {{ item.servername }} </span>
                              </td> 
                              <td title="'Total Points'" filter="{ totalpoints: 'number'}" sortable="'totalpoints'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span > {{ item.totalpoints | number}} </span>
                              </td> 
                              <td title="'Last Transaction'" filter="{ lasttransaction: 'text'}" sortable="'lasttransaction'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span > {{ item.lasttransaction }} </span>
                              </td>    
                              <td title="'Restaurant'" filter="{ restaurant: 'text'}" sortable="'restaurant'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span > {{ item.restaurant}} </span>
                              </td>   
                              <td title="'Branch'" filter="{ branch: 'text'}" sortable="'branch'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span > {{ item.branch}} </span>
                              </td>   
                           </tr>  
                        </table>  
                     </div>  

                     <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="vm.preloader.history">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                     </div>  
                     <div class="table-footer-space"></div>

                  </div> 
               </div>  
                
           </div>
           
         </div>
        <!-- END PORTLET --> 


      </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
  </div>
</div>
<!-- END PAGE CONTENT -->
