body {
  padding-top: 50px;
  background-color: #eff3f8;
} 
/* General */ 
.hide-element {
  display: none;
}
.display-element {
  display: block;
}

.empty-element{
  width: 600px;
}
.no-padding{
  padding: 0 !important;;
}
.margin-right-10{
  margin-right: 10px;
}
.chart, .pie, .bars {
    overflow: hidden;
    height: 350px;
    width: 100%;
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
}


/* Widget */
.widget-thumb {
    padding: 30px;
    border-radius: 2px;
}
.widget-bg-color-white {
    background: #fff;
}
.margin-bottom-20 {
    margin-bottom: 20px!important;
}
.widget-thumb .widget-thumb-heading {
    font-size: 14px;
    font-weight: 700 !important;
    color: #666;
    margin: 0 0 20px;
}
.widget-thumb .widget-thumb-wrap {
    overflow: hidden;
}
.widget-thumb .widget-thumb-wrap .widget-thumb-icon {
    float: left;
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 20px;
    line-height: 41px;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-right: 15px;
}
.widget-thumb .widget-thumb-body {
    overflow: hidden;
}
.widget-thumb .widget-thumb-body .widget-thumb-subtitle {
    padding-top: 2px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #8e9daa;
}
.widget-thumb .widget-thumb-body .widget-thumb-body-stat {
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #3e4f5e;
}

.widget-thumb .widget-thumb-heading {
     font-size: 14px; 
     font-weight: 700 !important; 
     color: #666; 
     margin: 0 0 20px;  
    float: left;
    display: inline-block; 
}

.widget-title{ 
    min-height: 48px; 
}

.widget-tools {
    margin: -7px 0 0;
    float: right;
    display: inline-block;
}

.widget-body{ 
    margin: 0 0 15px 0;
}

/* Default view */ 
.view-animate {
  /*position: relative;
  margin-top: 50px;*/ 
}
 
.view-animate.ng-enter {
  transition: 1s linear all;  
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  transition: 1s linear all;  
  opacity: 1;
}
.view-animate.ng-leave{
  opacity: 0;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}

/* Tables */
.bg-table-header-white-red{
  border-color: #E26A6A !important;
  background-image: none !important;
  background-color: #fff !important;
  color: #444 !important; 
}


/* Element Specific */
.calendar-style{ 
  cursor: pointer; 
  padding: 5px 10px;  
  font-size: 14px;
  font-weight: normal;
  color: #333;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  height: 34px;
}  

.imgcircle{
  width: 45px;
  height: 45px;
  background: rgb(31, 69, 152) none repeat scroll 0% 0%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-top: 2px;
  margin-right: 10px;
}

.mainimgcircle{
  width: 200px;
  height: 200px;
  background: rgb(31, 69, 152) none repeat scroll 0% 0%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 100px;
  margin-left: 80px;
}

#ageChart {
  width: 100%;
  height: 230px;
  /*font-size : 11px;*/
}         


